@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

BODY {font-size:13px; color:#666666; font-family: NanumGothic, "�섎닎怨좊뵓", "Nanum Gothic", Dotum, "�뗭�", Verdana, Arial, sans-serif,'Nanum Brush Script', cursive;}

/* CSS reset Start*/
header,nav,article,section,aside,footer,hgroup {display:block;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

html {
	margin:0;
	padding:0;
	overflow-y: scroll;

	width:100%;
	height:100%;

}

body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
}
fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* CSS reset End*/


/* FOR IE OLD VERSION SUPPORT HTML5*/
article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary {display:block;}


th {
	text-align:center;
	font-weight:bold;
}

A {color: #444444}
A:link {color: #444444; text-decoration:none}
A:visited {color: #444444; text-decoration:none}
A:active {color: #444444; text-decoration:none}
A:hover {color: #444444; text-decoration:none}