<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.classproject.testServer.dao.CentralBoardListDAO">
    
    <select id="selectBoardByCode" parameterType="int" resultType="com.classproject.testServer.model.CentralBoardlist">
        select * from [dbo].[boardlist] where board_code=#{board_code}
    </select>

</mapper>
