<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 여기까지 이해했는지 모르겠다 ㅠㅠ -->
<!-- 
    mapper namespace 이것은 우리가 최초에 호출했던 insertUser메소드를 담고있는 곳을 가르켜주어야 한다.
    즉 mapper에 작성된 sql구문들은 CentralMemberDAO의 메소드와 연결된다는 의미이다.
-->
<mapper namespace="com.classproject.testServer.dao.CentralMemberDAO">
    
    <select id="selectUserById" parameterType="int" resultType="com.classproject.testServer.model.CentralMember">
        select * from [dbo].[member] where member_id=#{member_id}
    </select>

    <select id="selectUserList" resultType="com.classproject.testServer.model.CentralMember">
        select * from [dbo].[member] order by member_code
    </select>
    
    <!-- 
        여기에서 보면 insertUser 메소드를 정의해준다. 아래 SQL 구문으로 MS SQL-Server에 접근해서 데이터를 처리한다.
        이과정이 완료되면 다시 컨트롤러로 돌아간다. Controller로 돌아가보자.
    -->
    <insert id="insertUser">
        insert into [dbo].[member](member_id, member_pw, member_name, member_nick, member_tel, member_email) values (#{member_id}, #{member_pw}, #{member_name}, #{member_nick}, #{member_tel}, #{member_email})
    </insert>
    
    <update id="updateUser" parameterType="com.classproject.testServer.model.CentralMember">
        update [dbo].[member] set member_pw=#{member_pw}, member_name=#{member_name}, member_nick=#{member_nick}, member_tel=#{member_tel}, member_email=#{member_email} where member_id=#{member_id}
    </update>
    
    <update id="updatePw" parameterType="com.classproject.testServer.model.CentralMember">
        update [dbo].[member] set member_pw=#{member_pw} where member_id=#{member_id}
    </update>

    <update id="updateName" parameterType="com.classproject.testServer.model.CentralMember">
        update [dbo].[member] set member_name=#{member_name} where member_id=#{member_id}
    </update>

    <update id="updateNick" parameterType="com.classproject.testServer.model.CentralMember">
        update [dbo].[member] set member_nick=#{member_nick} where member_id=#{member_id}
    </update>

    <update id="updateTel" parameterType="com.classproject.testServer.model.CentralMember">
        update [dbo].[member] set member_tel=#{member_tel} where member_id=#{member_id}
    </update>

    <update id="updateEmail" parameterType="com.classproject.testServer.model.CentralMember">
        update [dbo].[member] set member_email=#{member_email} where member_id=#{member_id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from [dbo].[member] where member_id =#{member_id}
    </delete>

</mapper>
